:root {
    --primary_color: #5E56E7;
    --secondary_color: #F8F7FF;
    --grey1: #F0F0F6;
    --grey2: #A0A0A0;
    --grey3: #333333;
    --manrope_font: 'Montserat', sans-serif;
}

.black {
    color: var(--black) !important;
    font-weight: 500 !important;
}